@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Montserrat:wght@800&family=Poppins:wght@300;500;600&family=Sono&display=swap');

@import "./style-config/mixins.scss";

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'DM Sans',sans-serif;

}
p{
    @include typography(18px,400,24px);
}